@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Metamorphous&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


 /* box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.336); */
 
:root{
    --cor0: #ffb400;
    --cor1: #6c6d71;
    --cor2: #23252B;
    --cor3: #15171E;
    --cor4: #0c0e12;
    --cor5: white;
    --cor6: #FFFFFFD6;

    --fonte-padrao: "Noto Sans", sans-serif;
    --fonte-destaque: "Metamorphous", serif;

}
*{
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(to top, var(--cor3), var(--cor2));
    min-height: 140px;
    text-align: center;
    padding-top: 40px;
    font-size: 1.2em;
}
header h1{
    color:var(--cor0);
    font-family: var(--fonte-destaque);
    margin-bottom: 16px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.353);
}
header > p {
    color: var(--cor5);
    font-size: 1.1em;
    max-width: 800px;
    padding-right: 8px;
    padding-left: 8px;
    margin:auto;
    padding-bottom: 50;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.353);
}
nav{
    background-color: #23252B;
    padding: 16px;
    align: center;
    margin-top: 16px;
}
nav a {
    color: var(--cor6);
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    border-radius: 2px;
    transition-duration: 0.2s;
}
a.externo::after {
    content: '\1F517';
}
nav > a:hover{
    background-color: rgba(104, 104, 107, 0.305);
    color: white;


}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 32px;
    padding: 32px;
    background-color: var(--cor2);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
main img{
    width: 100%;
}
main img.pequena {
    max-width: 320px;
    display: block;
    margin: auto;
    position: relative;
}

body{
    background-color: var(--cor3);
    font-family: var(--fonte-padrao);
    color: var(--cor6);
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-destaque);
}
main h2{
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    color: var(--cor6);
    background-image: linear-gradient(to right, var(--cor0), transparent);
    padding: 2px 6px;
}
main p{
    margin: 16px 0px;
    text-align: justify;
    text-indent: 32px;
}
main strong {
    color: var(--cor0);
    font-weight: bolder;
}
main a {
    text-decoration: none;
    background-color: var(--cor0);
    font-weight: bold;
    padding: 2px 6px;
    color: var(--cor4)
}
main a:hover {
    text-decoration: underline;
    color: var(--cor0);
    background-color:var(--cor4);
    
}
div.video {
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 6%;
    left: 6%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: var(--cor4);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.441);
}
aside > h3{
    background-color: var(--cor3);
    color: white;
    padding: 16px;
    margin: -16px -16px 0px -16px;
    border-radius: 8px 8px 0px 0px;
}
aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
footer{
    background: var(--cor4);
    color: var(--cor6);
    text-align: center;
    font-size: 0.8em;
    padding: 04px;
}
footer a {
    text-decoration: underline;
    color: var(--cor0);
    background-color:var(--cor4);
}

footer a:hover {
    color: var(--cor6);
    
}