@charset "UTF8";
/*
    em HTML é id = em CSS é # ( Só pode 01 elemento )
    em HTML é class = em CSS é .( Pode vários elementos )
*/
body {
    background-color: rgb(206, 162, 247);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(50, 7, 89);
}
#principal{
    text-align: center;
    background-color: rgb(61, 12, 106);
    color: white;
}
h2{
    color: rgb(82, 56, 106);
}

.basico{
    color: rgb(42, 101, 133);
}
.intermediario{
    color: rgb(121, 42, 133);
}
.avancado{
    color: rgb(133, 103, 42);
}
.destaque{
    background-color: rgba(218, 165, 32, 0.349);
}